:root {
  --radius: 0.2rem;
  --card-width: 15rem;
  --card-height: 21rem;
}

.cards {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 16rem));
  row-gap: 2rem;
  column-gap: 0.5rem;
  justify-content: center;
  /* justify-items: center; */
}

.card {
  overflow: hidden;
  border-radius: var(--radius);
  width: var(--card-width);
  height: var(--card-height) + 1rem;
  cursor: pointer;
  transition: transform 200ms ease-in;
  background-color: transparent;
}

.card__image {
  object-fit: fill;
  width: var(--card-width);
  height: var(--card-height);
  padding-bottom: 0rem;
  vertical-align: top;
}

.card__title {
  color: white;
  margin: 0;
  height: 3rem;
  text-align: center;
  border-left: 0.01rem solid white;
  border-bottom: 0.01rem solid white;
  border-right: 0.01rem solid white;
  border-radius: var(--radius);
}

.card:hover {
  transform: scale(1.1);
}
