:root {
  --radius: 0.3rem;
  --card-width: 15rem;
  --card-height: 21rem;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 16rem));
  row-gap: 2rem;
  column-gap: 0.5rem;
  justify-content: center;
  /* justify-items: center; */
}

.card {
  overflow: hidden;
  border-radius: var(--radius);
  width: var(--card-width);
  height: var(--card-height);
  cursor: pointer;
  transition: transform 200ms ease-in;
  background-color: transparent;
}

.card__image {
  object-fit: fill;
  width: var(--card-width);
  height: var(--card-height);
}

.card:hover {
  transform: scale(1.1);
}
